<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.chris958.stocktopic</string>
  <key>ProgramArguments</key>
  <array>
    <string>__PYTHON__</string>
    <string>-m</string>
    <string>stocktopic</string>
  </array>
  <key>WorkingDirectory</key>
  <string>__APP_DIR__</string>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <dict>
    <key>SuccessfulExit</key>
    <false/>
  </dict>
  <key>ThrottleInterval</key>
  <integer>10</integer>
  <key>StandardOutPath</key>
  <string>__LOG_DIR__/stocktopic.out.log</string>
  <key>StandardErrorPath</key>
  <string>__LOG_DIR__/stocktopic.err.log</string>
  <key>ProcessType</key>
  <string>Background</string>
</dict>
</plist>

